{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Current Round</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{ student.id }}</th>
                <td>{{ student.name }}</td>
                <td>{{ student.current_round }}</td>
                <td><a href="/profile/{{ student.id }}" class="btn btn-primary btn-sm">View Profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
